<!DOCTYPE html>
<html lang="en" class=" scroll-smooth">
<head>
    <%- include("../layout/head") %>
</head>
<body class=" min-h-screen p-0 m-0 select-none w-full bg-backgroundColorBlack overflow-x-hidden transition duration-500 ease-in">
    <%- include("../layout/header-smallscreen") %>

    <% if(action == 'ADD'){ %> 

        <%- include("../layout/formErrorMsg") %>

    <!-- Forms Section -->
    <div id="container" class=" flex justify-center align-middle mt-5">
        <form action="/verification" method="post" class=" mt-1 w-full max-w-3xl p-2 lg:max-w-3xl xxl:max-w-5xl">

            <!-- Heading -->
            <div class=" relative flex bg-ColorBlack headsubmit p-8 rounded-md">
                <div class=" flex justify-center align-middle mx-auto space-x-2">
                    <span><img src="/images/main/verification.png" class=" hidden md:flex h-10 relative -top-1"></span>
                    <h2 class=" text-2xl  text-white align-middle justify-center">VERIFICATION REQUEST FORM</h2>
                </div>
            </div>

            <!-- First Row -->
            <div class=" flex flex-col lg:flex ">
                <!-- Registration Number -->
                <div class="  mt-5 mb-5 mx-0 relative">
                    <label for="registration#" class=" text-white text-xl">REGISTRATION NUMBER</label>
                    <input 
                    type="text" 
                    id="registration#"
                    name="registrationNumber" 
                    placeholder="Enter Registration Number"
                    class=" w-full text-white border-white text-lg rounded-lg  placeholder:tracking-wide p-3 xl:p-5 fontcolorblack" required>
                </div>
            </div>  
            
            <!-- Second Row -->
            <div class=" flex flex-col lg:flex lg:flex-row lg:gap-10 mt-2 xl:mt-8 ">
                <!-- Verification Type -->
                <div  class=" mt-2 mb-5 mx-0">
                    <label for="verification" class=" text-white text-xl fontcolorblack">VERIFICATION TYPE</label>
                    <select id="verification" name="verificationType" class=" w-full p-3 xl:p-5 rounded-lg text-lg placeholder:tracking-wide " required >
                        <option value="" disabled selected>-- Select Type --</option>
                        <option class=" text-black" value="LOCAL VERIFICATION">LOCAL VERIFICATION</option>
                        <option class=" text-black" value="FOREIGN VERIFICATION">FOREIGN VERIFICATION</option>
                    </select>
                </div>

                <!-- Amount Paid -->
                <div class="  mt-2 mb-5 mx-0 relative">
                    <label for="amount" class=" text-white text-xl fontcolorblack">AMOUNT</label>
                    <input 
                    type="text" 
                    id="amount" 
                    name="amountPaid"
                    placeholder="Enter Amount"
                    class="  w-full text-white border-white text-lg rounded-lg  placeholder:tracking-wide p-3 xl:p-5" required>
                </div>
            </div>

            <!-- Submit Button-->
            <button 
                type="submit" 
                id="next" 
                class=" w-full text-white bg-ColorBlack headsubmit hover:bg-HoverColorBlack rounded-lg text-xl cursor-pointer p-3 mt-4">SUBMIT
            </button>
        </form>
    </div>

    <% } else if(action == 'EDIT'){ %>

        <%- include("../layout/formErrorMsg") %>

        <!-- Forms Section -->
        <div id="container" class=" flex justify-center align-middle mt-5">

        <% data.forEach(data =>{ %>

            <form action="/verification/edit/<%=data.id%>" method="post" class=" mt-1 w-full max-w-3xl p-2 lg:max-w-3xl xxl:max-w-5xl">

                <!-- Heading -->
                <div class=" relative flex bg-ColorBlack headsubmit p-8 rounded-md">
                    <div class=" flex justify-center align-middle mx-auto space-x-2">
                        <span><img src="/images/main/verification.png" class=" hidden md:flex h-10 relative -top-1"></span>
                        <h2 class=" text-2xl  text-white align-middle justify-center">EDIT VERIFICATION REQUEST FORM</h2>
                    </div>
                </div>

                <!-- First Row -->
                <div class=" flex flex-col lg:flex ">
                    <!-- Registration Number -->
                    <% if(req.user.role !== 'ACCOUNTS' && req.user.role !== 'ADMIN'){ %>
                        <div class="  mt-5 mb-5 mx-0 relative">
                            <label for="registration#" class=" text-white text-xl">REGISTRATION NUMBER</label>
                            <input 
                            type="text" 
                            id="registration#"
                            name="registrationNumber" 
                            value="<%= data.registration_number %>"
                            placeholder="Enter Registration Number"
                            class=" w-full text-white border-white text-lg rounded-lg  placeholder:tracking-wide p-3 xl:p-5 fontcolorblack" required>
                        </div>
                    <% }else{ %>
                        <div class="  mt-5 mb-5 mx-0 relative">
                            <label for="registration#" class=" text-white text-xl">REGISTRATION NUMBER</label>
                            <input readonly
                            type="text" 
                            id="registration#"
                            name="registrationNumber" 
                            value="<%= data.registration_number %>"
                            placeholder="Enter Registration Number"
                            class=" w-full text-white border-white text-lg rounded-lg  placeholder:tracking-wide p-3 xl:p-5 fontcolorblack" required>
                        </div>
                    <% } %>
                </div>  
                
                <!-- Second Row -->
                <div class=" flex flex-col lg:flex lg:flex-row lg:gap-10 mt-2 xl:mt-8 ">
                    <!-- Verification Type -->
                    <% if(req.user.role !== 'ACCOUNTS' && req.user.role !== 'ADMIN'){ %>
                        <div  class=" mt-2 mb-5 mx-0">
                            <label for="verification" class=" text-white text-xl fontcolorblack">VERIFICATION TYPE</label>
                            <select id="verification" name="verificationType" class=" w-full p-3 xl:p-5 rounded-lg text-lg placeholder:tracking-wide " required >
                                <option value="" disabled selected>-- Select Type --</option>
                                <option class=" text-black" value="LOCAL VERIFICATION">LOCAL VERIFICATION</option>
                                <option class=" text-black" value="FOREIGN VERIFICATION">FOREIGN VERIFICATION</option>
                            </select>
                        </div>
                    <% }else{ %>
                        <div  class=" mt-2 mb-5 mx-0">
                            <label for="verification" class=" text-white text-xl fontcolorblack">VERIFICATION TYPE</label>
                            <select style="pointer-events: none;" onclick="return false" id="verification" name="verificationType" class=" w-full p-3 xl:p-5 rounded-lg text-lg placeholder:tracking-wide " required >
                                <option value="" disabled selected>-- Select Type --</option>
                                <option class=" text-black" value="LOCAL VERIFICATION">LOCAL VERIFICATION</option>
                                <option class=" text-black" value="FOREIGN VERIFICATION">FOREIGN VERIFICATION</option>
                            </select>
                        </div>
                    <% } %>

                    <!-- Amount Paid -->
                    <% if(req.user.role !== 'ACCOUNTS' && req.user.role !== 'ADMIN'){ %>
                        <div class="  mt-2 mb-5 mx-0 relative">
                            <label for="amount" class=" text-white text-xl fontcolorblack">AMOUNT</label>
                            <input 
                            type="text" 
                            id="amount" 
                            name="amountPaid"
                            value="<%= data.amount_paid %>"
                            placeholder="Enter Amount"
                            class="  w-full text-white border-white text-lg rounded-lg  placeholder:tracking-wide p-3 xl:p-5" required>
                        </div>
                    <% }else{ %>
                        <div class="  mt-2 mb-5 mx-0 relative">
                            <label for="amount" class=" text-white text-xl fontcolorblack">AMOUNT PAID</label>
                            <input readonly
                            type="text" 
                            id="amount" 
                            name="amountPaid"
                            value="<%= data.amount_paid %>"
                            placeholder="Enter Amount Paid"
                            class="  w-full text-white border-white text-lg rounded-lg  placeholder:tracking-wide p-3 xl:p-5" required>
                        </div>
                    <% } %>
                </div>

                <!-- FOR ACCOUNTS OFFICE ONLY -->
                <div class=" flex flex-col lg:flex lg:flex-row lg:gap-10 mt-2 xl:mt-8 ">

                    <!-- BANK  -->
                    <% if(req.user.role !== 'ACCOUNTS' && req.user.role !== 'ADMIN'){ %>
                    <% }else{ %>
                        <div class=" mt-5 mb-5 mx-0">
                            <label for="bank" class=" text-white text-xl fontcolorblack">BANK SOURCE</label>
                            <select id="bank" name="bank" class=" w-full p-3 xl:p-5  rounded-lg text-lg placeholder:tracking-wide " required>
                                <option value="" disabled selected>-- Select --</option>
                                <option class=" text-black" value="GCB">GCB</option>
                                <option class=" text-black" value="ADB">ADB</option>
                            </select>
                        </div>
                    <% } %>

                    <!-- RECEIPT NUMBER  -->
                    <% if(req.user.role !== 'ACCOUNTS' && req.user.role !== 'ADMIN'){ %>
                    <% }else{ %>
                        <div class=" mt-5 mb-5 mx-0">
                            <label for="receipt" class=" text-white text-xl fontcolorblack">RECEIPT NUMBER</label>
                            <input 
                            type="number" 
                            id="receipt"
                            name="receiptNumber"
                            value="<%= data.receipt_number %>"  
                            placeholder="Enter Receipt Number"
                            class=" w-full p-3 xl:p-5 rounded-lg text-lg placeholder:tracking-wide" required>
                        </div>
                    <% } %>

                    <!-- TRANSACTION REFERENCE NUMBER  -->
                    <% if(req.user.role !== 'ACCOUNTS' && req.user.role !== 'ADMIN'){ %>
                    <% }else{ %>
                        <div class=" mt-5 mb-5 mx-0">
                            <label for="transaction" class=" text-white text-xl fontcolorblack">TRANSACTION NUMBER</label>
                            <input 
                            type="text" 
                            id="transaction"
                            name="transactionRef"
                            value="<%= data.transaction_reference_number %>" 
                            placeholder="Enter Transaction Number"
                            class=" w-full p-3 xl:p-5 rounded-lg text-lg placeholder:tracking-wide" required>
                        </div>
                    <% } %>
                </div>

                <!-- Submit Button-->
                <button 
                    type="submit" 
                    id="next" 
                    class=" w-full text-white bg-ColorBlack headsubmit hover:bg-HoverColorBlack rounded-lg text-xl cursor-pointer p-3 mt-2">SUBMIT
                </button>

                <script>
                    document.getElementById('bank').value = '<%= data.bank %>';
                    document.getElementById('verification').value = '<%= data.verification_type %>';
                </script>
            </form>

        <% }) %>
        
        </div>

    <% } %>

    <script src="../../scripts/allPages.js"></script>
</body>
</html>
